---
import HTMLayout from '../../layouts/HTMLayout.astro'
import Article from '../../components/Article.astro'

const pageTitle = "benjae's Blog attempt!!"
const allPosts = await Astro.glob('./posts/**/*.md');

allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);

---
<HTMLayout pageTitle={pageTitle}>
  <p>the place where i try to say things more than 3 lines long</p>
  <ul>
    {allPosts.map((post) => 
      <Article 
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        pubDate={post.frontmatter.pubDate}
        tags={post.frontmatter.tags}
        href={post.url}
        />
    )}
  </ul>
</HTMLayout>